{% extends 'base.html.twig' %}

{% block title %}Hello CreateApiController!{% endblock %}

{% block body %}
    <main class="container">
        <div class="row">
            <h3>{{ createdApi.name }}</h3>
        </div>
        <div class="row">
            {{ createdApi.description }}
        </div>
        <div class="row">
            <div class="mt-3 col-4">
                <p>Price : {{ createdApi.price }}</p>
            </div>
            <div class="mt-3 col-4">
                <p>Request ammout for {{ createdApi.price }} € : {{ createdApi.requestAmountPerSale }}</p>
            </div>
            <div class="mt-3 col-4">
                <a href="#" class="btn btn-primary">Buy</a>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <h4>Documentation</h4>
                {{ createdApi.docLink }}
            </div>
            <div class="col-6">
                <h4>Autres truc a ajouter</h4>
            </div>
        </div>
    </main>
{% endblock %}
